
    .forget-form{
       background: transparent;
        box-shadow: 2px 2px 2px 2px grey;
        border-radius: 12px ;
        margin-top: 40px;
        
    }
    .input-box{
        border-radius: 12px;
    }
    .resetbutton{
        width: 190px;
        border-radius: 12px;
        background-color: rgb(39, 159, 238);
        font-weight: bolder;
        font-style: italic;
        margin-top: 16px;
    }
    .forgetPassword {
      padding: 20px;
      width: 310px;
    
      margin: 4% auto 0;
      text-align: center;
     
    }
    .forget-form input{
      font-weight: bolder;
      font-style: italic;
      margin-top: 6px;
    }
    .backtologin{
        display: block;
        margin-top: 16px;
    }
    .heading1{
        color: red;
        font-size: large;
    }